<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaguele | Error</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/favicon.webp">
</head>

<body>
  <%- include("partials/header.ejs") %>

  <%- include("partials/errorPartial.ejs") %>
</body>

</html>