<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaguele</title>
  <link rel="preload" as="image" href="/images/logo.webp" type="image/webp">

  <link href="/styles/styles.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/favicon.webp">
</head>

<body>
  <%- include("partials/header.ejs") %>

  <%- include("partials/homePartial.ejs") %>

  <%- include("partials/footer.ejs") %>
</body>

</html>